span
{
	
	font-weight: bold;
	font-size: 30px;
	padding-top: 25px;
	color: white;
	font-family: century gothic;
}

#title
{
	color: red;
	font-size: 25px;
	font-weight: bold;
	padding-top: 20px;
}
#textbox
{
	font-family: Franklin Gothic Medium;
	width: 400px;
	height: 40px;
	border: 2px solid #FF0000;
	margin-bottom: 13px;
	margin-left: 10px;
	padding-left: 8px;
	margin-top: 30px;
}

a
{
	background-color: #FA3538;
	font-family: Rockwell;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	border: solid white 2px;
	border-radius: 5px;
	margin-left: 5px;
	color: yellow;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
	padding-bottom: 8px;
}

#main
{
    background-color: black;
	width: 460px;
	height: 100px;
	margin-top: 225px;
	border-radius: 15px;
	padding-top: 20px;
	border: solid 3px red;
	padding-bottom: 30px;
}
span
{
	font-family: berlin sans fb;
	font-size: 30px;
	padding-top: 25px;
	color: yellow;
}


#page
{
	background-color: #E4DADA;
	font-family: century gothic;
	font-size: 15px;
	width: 60%;
	margin: auto;
	margin-top: 20px; 
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 15px;
	text-align: justify;
}



#bottom
{
	padding-bottom: 20px;
}

#empty
{
	text-align: center;
	margin-top: 30px;
	font-family: verdana;
	font-size: 15px;
	color: red;
	font-weight: bold;
}

#resultpage
{

	font-family: verdana;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: 20px;
}
